serv/data/data1.db

serv/*.[oa]
serv/*.def
serv/base/*.[oa]
serv/conf/*.[oa]
serv/lib/*.o
serv/lib/libbase.a
root/extjs-4.1/
root/data/
root/zhaop/*
logs/*.log
serv/logs/*.log
xulrunner/
fire_fighting*.zip

Thumbs.db*

main.exe
serv/aaaa.db
serv/testdba.exe.log/
serv/testsql.exe.log/

serv/apr-2.dll
serv/dbd.exe
serv/fun_subr.dll
serv/main.exe
serv/mongoose.dll
serv/svCore.dll
serv/testdba.exe
serv/testsql.exe
serv/xml.exe
serv/xml2sql.exe
serv/dataurl2file.exe
serv/jinXBGB.exe
serv/libopc.dll
serv/*.docx

serv/db/*.dll
serv/db/*.c

root/main/*-all.js
root/main/all-classes.sch.js
root/main/all-classes.app.js
root/danga/

backupdb/

serv/data/adasdf.sql
serv/data/bbb.sql
serv/data/zd0.sql
serv/db/schSQL.dll.zip

