serv/*.[oa]
serv/*.def
serv/base/*.[oa]
serv/conf/*.[oa]
serv/lib/*.o
serv/lib/libbase.a
root/extjs-4.1/
logs/*
serv/logs/*
xulrunner/

serv/apr-2.dll
serv/dbd.exe
serv/fun_subr.dll
serv/main.exe
serv/mongoose.dll
serv/svCore.dll
serv/testdba.exe
serv/testsql.exe
serv/xml.exe
serv/xml2sql.exe
