.list-icon {
    background-image: url( ../images/grid.png ) !important;
}
.details {
    background-image: url( ../images/details.gif ) !important;
}
.new_folder {
    background-image: url( ../images/new_folder.png ) !important;
}
.add {
    background-image: url( ../images/add.gif ) !important;
}
.add16 {
    background-image: url( ../images/add16.gif ) !important;
}
.add24 {
    background-image: url( ../images/add24.gif ) !important;
}
.remove {
    background-image: url( ../images/delete.gif ) !important;
}
.edit {
    background-image: url( ../images/edit.gif ) !important;
}
.find {
    background-image: url( ../images/find.gif ) !important;
}
.view {
    background-image: url( ../images/view.gif ) !important;
}
.money-up {
    background-image: url( ../images/money_add.png ) !important;
}
.money-down {
    background-image: url( ../images/money_delete.png ) !important;
}
.logout {
    background-image: url( ../images/logout.png ) !important;
}
.add1 {
    background-image: url( ../images/add.png ) !important;
}
.delete {
    background-image: url( ../images/delete.png ) !important;
}
.accept {
    background-image: url( ../images/accept.png ) !important;
}
.templates {
    background-image: url( ../images/templates.png ) !important;
}
.book {
    background-image: url( ../images/book.png ) !important;
}
